* {
    box-sizing: border-box;
}

body {
    background-color: #363a66;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
}

header {
    background-color: #404263;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid #363a66;
    font-family: inherit;
    color: white;
    font-size: 1rem;
    background-color: transparent;
}

.search::placeholder {
    color: white;
}

.search:focus{
    background-color: #363a66;
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: #404263;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0 0 0 0.2);
    /* pentru a nu se suprapune overview-ul: */
    overflow: hidden;
    width: 300px;
    margin: 1rem;
    position: relative;
}

.movie img {
    max-width: 100%;
}

.movie-info {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #363a66;
    border-radius: 3px;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
}

.movie-info span.green {
    color: rgb(41, 172, 41);
}

.movie-info span.orange {
    color: rgb(228, 152, 11);
}

.movie-info span.red {
    color: rgb(199, 33, 33);
}

.overview {
    position: absolute;
    background-color: white;
    padding: 2rem;
    max-height: 100%;
    overflow: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
}

.overview h4 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
    color:black;
}